* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  overflow: hidden;
}

.color-blue {
  color: rgb(18,144,191) !important; 
}